
.cards > * {
  position: absolute;
}



@media screen and (max-width: 480px) {
  .services {
    margin-top: 0;
    flex-direction: column;
    gap: 5rem;
    height: 66rem;
    padding: 0;
  }


  .cards > * {
    position: static;
  }
}
